!! IN.Xreso  .Xresources2
#include ".Xresources.d/colorscheme"
#include ".Xresources.d/fontscheme"
#include ".Xresources.d/font-size"
 
URxvt.imLocale:                 	en_US.UTF-8


URxvt*scrollBar: False
URxvt*cursorBlink: True
URxvt*cursorColor: #00ff00
! Specifies the program to be started with a URL argument. Used by the "selection-popup" and "matcher" perl
URxvt*url-launcher: string
URxvt*cursorUnderline: False
 

URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.perl-lib:           			~/.config/urxvt/perl
URxvt.perl-ext-common:    			default,matcher,clipboard,font-size
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
    URxvt.keysym.M-c:   perl:clipboard:copy
    URxvt.keysym.Control-V:   perl:clipboard:paste
    URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! Xresources file

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 5
